#point-wrap {
    position: relative;
    -webkit-filter: brightness(150%);
}

.height-wrap {
    overflow: scroll;
    /*height: 80%;*/
}

.align {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.align > * {
    flex: 1 100%;
}

.align-bottom {
    align-self: flex-end;
}

.align-top {
    align-self: flex-start;
}

i .fa {
    text-shadow: 0 0 3px #FFFAF0;
    position: absolute;
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*vertical-align: bottom;*/
}

#num-users > .fa-user {
    color: #0000CC;
}

#image-set > .fa-map-pin {
	color: red;
}
#wait-state {
	display: none;
}
#wait-state, #wait-state > .fa-circle-o-notch{
	color: #0000CC;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

div .tags {
    visibility: hidden;
    position: absolute;
}

li {
	margin: 10px 0;
}


/* Connection status indicator gets
 * updated in the js on connection opening. */

#connstatus > i {
    color: red;
}

div > .marker {
    text-shadow: 0 0 3px #FFFAF0;
}

div > .marked {
    color: #32CD32;

}

.mark {
    color: #1E90FF;
}

footer {
    position: absolute;
    width: 100%;
    height: 100%;
}
